# CogniTube Environment Variables Example

PORT=3000
HOST_URL=http://localhost:3000
MONGODB_URI=
GEMINI_API_KEY=
BUNNY_API_KEY=
BUNNY_LIBRARY_ID=
BUNNY_CDN_HOSTNAME=
BUNNY_TOKEN_KEY=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
